system/system/app/VivoCamera/VivoCamera.apk
system/system/app/Chrome/Chrome.apk
system/system/priv-app/Velvet/Velvet.apk
system/system/priv-app/GmsCore/GmsCore.apk
system/system/media/gallery/assets_ex/facegroup/license_release_vivo.lic
vendor/dualcam/data/leafLicense-android.lic
